@media screen and (max-width: 400px) {
  #agenda {
    padding: 20px;
    width: 111%;
  }
  #about,
  #speakers,
  /* #alumni, */
  #team,
  #contact,
  #footer {
    width: 111%;
  }

  #portfolio {
    width: 110%;
  }
}
